<!DOCTYPE html>
<html lang="id">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" />
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest')}}" />
  <meta charset="utf-8" />
  <meta name="keywords" content="jadwal shalat, prayer times, kemenag" />
  <meta name="description" content="Jadwal Shalat for Indonesian, scrapped from Kemenag RI" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      font-family: 'Quicksand', sans-serif;
    }

    main {
      flex: 1 0 auto;
    }

    input {
      color: black;
    }

    .footer-fixed footer {
      padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    .footer-fixed {
      color: whitesmoke;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .footer-fixed a {
      color: #ffca28;
    }
  </style>

  <title>JadwalShalat</title>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper green darken-1">
        <a href="/" class="brand-logo">Jadwal Shalat</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col s12 m12 l7 offset-l1">
    <div class="container">
      <div class="section">
        <div class="row">
          <form class="col s12">
            <div class="input-field col s12 m6 l6">
              <input type="text" list="kabko" name="kabko" placeholder="Kabupaten/Kota" required autofocus>
              <datalist id="kabko">
                {% for o in kabko %}
                <option value="{{ o }}">{{ o }}</option>
                {% endfor %}
              </datalist>
            </div>
            <div class="input-field col s12 m6 l6">
              <input type=text name="tanggal" id="tanggal" class="datepicker" required>
              <label for="tanggal">Waktu</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="progress" style="display: none">
      <div class="indeterminate"></div>
    </div>
    <div id="rowshalat" class="row"></div>
  </div>
  <footer class="footer-fixed green darken-1">
    <p class="center-align">
      Made by
      <a href="https://github.com/rzlamrr" target="_blank">RizaL</a> with
      Python.
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".collapsible").collapsible(); $("select").formSelect(); const date = new Date(); const curYear = date.getFullYear();
      $(".datepicker").datepicker({
        selectMonths: true, defaultDate: new Date(curYear, date.getMonth(), date.getDate()),
        setDefaultDate: true, maxDate: new Date(curYear + 2, 11, 31), yearRange: [curYear - 2, curYear + 2],
        format: "dd mmmm yyyy", autoClose: true, onSelect: function (d, i) { $(this).change(); }
      });
      if (localStorage.getItem("lokasi") != null) {
        $("input[name='kabko']").val(localStorage.getItem("lokasi")); $('.progress').show(); document.activeElement.blur(); $("input[name='kabko']").blur();
        $.get("/_process_data/" + localStorage.getItem("lokasi") + "/" + $('.datepicker').val().split(" ")[2] + "/" + $('.datepicker').val().split(" ")[1] + "/" + $('.datepicker').val().split(" ")[0]
        ).success(function (shalat) { $("#rowshalat").html(""); if (shalat != 'null') { $("#rowshalat").append(shalat); $('.progress').hide(); document.getElementById('currentjdwl').scrollIntoView({ behavior: "smooth", block: "center" }); } });
      }
      $(".datepicker").on("input", function () {
        if ($("input[name=kabko]").val() == '') { M.toast({ html: "Kabupaten/Kota harus diisi", classes: "red" }); return false; }
        $('.progress').show(); $.get("/_process_data/" + $("input[name=kabko]").val() + "/" + this.value.split(" ")[2] + "/" + this.value.split(" ")[1] + "/" + this.value.split(" ")[0]
        ).success(function (shalat) { $("#rowshalat").html(""); if (shalat != 'null') { $("#rowshalat").append(shalat); $('.progress').hide(); document.getElementById('currentjdwl').scrollIntoView({ behavior: "smooth", block: "center" }); } });
      });
      $("input[name='kabko']").on('change', function (e) {
        var $input = $(this); val = $input.val(); list = $input.attr('list'); match = $('#' + list + ' option').filter(function () { return ($(this).val() === val); });
        if (match.length > 0) {
          $('.progress').show(); document.activeElement.blur(); $("input[name='kabko']").blur();
          $.get("/_process_data/" + this.value + "/" + $('.datepicker').val().split(" ")[2] + "/" + $('.datepicker').val().split(" ")[1] + "/" + $('.datepicker').val().split(" ")[0]
          ).success(function (shalat) { $("#rowshalat").html(""); if (shalat != 'null') { $("#rowshalat").append(shalat); $('.progress').hide(); document.getElementById('currentjdwl').scrollIntoView({ behavior: "smooth", block: "center" }); } }); localStorage.setItem("lokasi", this.value);
        }
      });
    });
  </script>
</body>

</html>